<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">



    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <script src="index.js"></script>

</head>
<body ng-controller="CartCtrl as myCart">
    <h1>FSF 17 day 6</h1>

    <div class="input-group">
        <form action="">
            <label for="">Item</label>
            <br>    
            <input type="text" ng-model="myCart.item" >
            <br>
            <label for="">Quantity</label>
            <br>    
            <input type="number" ng-model="myCart.quantity" >       
            <br>
            <button ng-click="myCart.add()">Add 
                <i class="fa fa-shopping cart"  ></i>
            </button>

        </form>

    <table> 
        <tr> 
            <th>Item</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td ng-repeat="item in myCart.item">{{item}}</td>
            <td ng-repeat="quantity in myCart.quantity">{{quantity}}</td>
        </tr>

    </table>

    </div>

</body>
</html>